#infinite-table {
    height: 300px;
    overflow: auto;
}

table {
    border-spacing: 0;
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    table-layout: fixed;
}

th,
td {
    text-align: left;
    padding: 16px;
}

thead tr th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 99;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Styles for the loading spinner */
.loading-spinner {
    text-align: center;
    padding: 16px;
}